body {
    font-size: 15pt;
    background-color: darkgrey;
   margin: Opx;
   position: center;
   padding:0px;
}
h1{
    text-align: center;
    size: 300px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    color: #344;
    background: darkcyan;
}
nav{
    color: #257;
    text-align: center;
    margin-top: 0;
}